@import "tailwindcss";

@theme {
    --color-primary: #2badee;
    --color-background-light: #f6f7f8;
    --color-background-dark: #101c22;
    --color-secondary-dark: #18232a;
    --color-surface-dark: #283339;
    --color-message-incoming: #283339;
    --color-message-outgoing: #2badee;

    --font-display: "Inter", sans-serif;

    --radius-lg: 1rem;
    --radius-xl: 1.5rem;
    --radius-2xl: 1.75rem;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4B5563;
}

/* Hide scrollbar for standard look but keep functionality */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}